commands:
  01_install_bundler:
    command: "gem install bundler --no-document"
  02_bundle_install:
    command: "bundle install"

container_commands:
  01_migrate:
    command: "bundle exec rake db:migrate"
    leader_only: true
  02_assets_precompile:
    command: "bundle exec rake assets:precompile"
