option_settings:
  aws:elasticbeanstalk:application:environment:
    RAILS_ENV: production
    RACK_ENV: production
    RAILS_SERVE_STATIC_FILES: true
    RAILS_LOG_TO_STDOUT: true
    SECRET_KEY_BASE: 7ebed9c6224dc8b895bc54b71358c8001899c7737d7af292e574f247cdc4e7274f49972ce31fa94dd49b6252981d1f78641e97677124ecbadd482421b587fd6e
    BUNDLE_WITHOUT: "development:test"
  aws:elasticbeanstalk:container:ruby:
    BundlerVersion: "2.5.22"

commands:
  01_bundle_config:
    command: "export HOME=/root && cd /var/app/ondeck && bundle config set --local deployment 'true' && bundle config set --local without 'development test'"
  02_bundle_install:
    command: "export HOME=/root && cd /var/app/ondeck && bundle install"
  03_migrate:
    command: "export HOME=/root && cd /var/app/ondeck && bundle exec rails db:migrate"
    leader_only: true
